@import "tailwindcss";

@theme {
  --color-primary: #46114b;
  --color-primary-dark: #2c0730;
  --color-primary-light: #642b6a;
  --font-sans: "Inter", system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-sans bg-white text-gray-900;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
